<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <title>Ice Cream Parlor</title>
</head>
<body>
    <h1>PR Ice Cream Parlor</h1>
    <h4><i>Spot of chillness</i></h4>
    <h3 style="text-align: end;"><a href="login.html">User Log in</a></h3>

    <h2 class="Head">Seasonal Flavors</h2>

    <div class="layout">
        <div class="item">
            <h4>Gulab Jamun Ice Cream</h4>
            <button class="submit">Buy</button>
        </div>
        <div class="item">
            <h4>Strawberry Ice Cream</h4>
            <button type="submit" class="submit">Buy</button>
        </div>
        <div class="item">
            <h4>Mango Ice Cream</h4>
            <button class="submit">Buy</button>
        </div>
        <div class="item">
            <h4>Guava Ice Cream</h4>
            <button class="submit">Buy</button>
        </div>
        <div class="item">
            <h4>Spicy Guava</h4>
            <button class="submit">Buy</button>
        </div>
    </div>

    <h2 class="Head">Ingredient Inventory</h2>

    <div class="layout">
        <div class="item">
            <h4>Frozen Dessert</h4>
            <button class="submit">Read More</button>
        </div>
        <div class="item">
            <h4>Milk</h4>
            <button type="submit" class="submit">Read More</button>
        </div>
        <div class="item">
            <h4>EGG</h4>
            <button class="submit">Read More</button>
        </div>
        <div class="item">
            <h4>Guava Ice Cream</h4>
            <button class="submit">Read More</button>
        </div>
        </div>
    </div>

</body>
</html>